[submodule "themes/hugo-theme-loveIt"]
	path = themes/hugo-theme-loveIt
	url = https://github.com/misitebao/hugo-theme-loveIt.git
[submodule "content"]
	path = content
	url = https://github.com/misitebao/blog-article.git
	branch = main
